---
layout: default
---

<main class="container-fluid" id="tc-main">

	<div class="bg-fixed" id="lead-image">
		<div class="bg-fixed-text">
			<h1><small>Welcome to</small>Warwick Tech Crew</h1>
		</div>
		<div class="attribution">
			<p>Anything Goes, Music Theatre Warwick, 2016. Photo &copy; Chris Miles</p>
		</div>
	</div>

	<section id="oursociety" class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>About Our Society</h2>
					<p>
						<strong>Tech Crew</strong> is a Warwick Students' Union society for anyone interested in
						technical theatre, with training throughout the year for members to learn new skills which
						can be put into practice in a range of shows and events. We organise technical teams for all
						student threatre in the Warwick Arts Centre, hire and operate equipment for events across
						campus, and work with StageFest to stage 50+ shows each year.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="bg-fixed" id="im-2">
		<div class="attribution">
			<p>Carmen, Opera Warwick, 2015. Photo &copy; <a href="http://www.darklingimages.com">Darkling Images</a>
				/ Ashmore Visuals</p>
		</div>
	</div>

	<section id="productions" class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Past Productions</h2>


					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

						{% assign sorted_years = site.data.shows | sort %}
						{% for year_hash in sorted_years reversed %}
						{% assign yr = year_hash[0] %}
						{% assign year = year_hash[1] %}

						{% if year.terms.size > 0 %}
						<div class="panel panel-tc">
							<div class="panel-heading" role="tab" id="heading{{ yr }}">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion"
										href="#collapse{{ yr }}" aria-expanded="true" aria-controls="collapse{{ yr }}">
										{{ year.year }}
									</a>
								</h4>
							</div>

							{% if forloop.first %}
							<div id="collapse{{ yr }}" class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="heading{{ yr }}">
							{% else %}
							<div id="collapse{{ yr }}" class="panel-collapse collapse" role="tabpanel"
								aria-labelledby="heading{{ yr }}">
							{% endif %}
								<div class="panel-body">
									<div class="row">
										{% for term in year.terms %}
										<div class="col-md-4">
											<h5>{{ term.name }}</h5>
											{{ term.notes }}
											{% if term.shows.size > 0 %}
											<ul class="show-list">
												{% for show in term.shows %}
												<li>
													<h6>{{ show.name }} <small>{{ show.society }}</small></h6>
													<ul class="show-details">
														<li>{{ show.venue }}</li>
														{% for person in show.people %}
														<li>{{ person.role }}: {{ person.name }}</li>{% endfor %}
														{% for link in show.links %}
														<li>{{ link.name }}: <a href="{{ link.url }}">{{ link.label
																}}</a></li>
														{% endfor %}
													</ul>
												</li>{% endfor %}
											</ul>{% endif %}
										</div>{% endfor %}
									</div>
								</div>
							</div>
						{% else %}
						<div class="panel panel-tc">
							<div class="panel-heading" role="tab" id="heading{{ yr }}">
								<h4 class="panel-title">
									{{ year.year }}
								</h4>
							</div>
						{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="bg-fixed" id="im-3">
		<div class="attribution">
			<p>The Faithless Healer, Freshblood, National Student Drama Festival, 2016. Photo &copy; <a
					href="http://www.pallascaphoto.com/">Aenne Pallasca</a></p>
		</div>
	</div>

	<section id="exec" class="row">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					{% assign exec = site.data.exec[0] %}
					<h2><b>Tech Crew Exec</b> {{ exec.year }}</h2>
					{% for person in exec.people %}
					{% assign remainder = forloop.index | modulo: 3 %}{% if forloop.first %}
					<div class="row">{% elsif remainder == 1 and forloop.last==false %}
					</div>
					<br />
					<div class="row">{% endif %}
						<div class="col-sm-4">
							<img src="{{ baseurl }}/assets/img/exec/{{ person.photo }}" class="img-thumbnail">
							<h4>{{ person.name }}{% for role in person.roles %}
								<small>{{ role }}</small>{% endfor %}
							</h4>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="bg-fixed" id="im-4">
		<div class="attribution">
			<p>Avenue Q, MTW, 2015. Photo &copy; <a href="http://www.darklingimages.com">Darkling Images</a> /
				Ashmore Visuals</p>
		</div>
	</div>

	<section id="hires" class="row">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Hires</h2>
					<p>Tech Crew own a variety of equipment; which is available to hire. These are available to all
						societies at Warwick. Equipment is available as dry hire, or with some of our members to set
						up and run the equipment as wet hire.</p>
					<p>We can also arrange external hires for societies, and can be available to set-up and run the
						equipment for any event. We do not charge for services, only the hire of equipment - we
						enjoy doing events!</p>
					<p>For a quote on any of the equipment, please contact our Vice President who is responsible for
						hires: <a href="mailto:hires@warwicktechcrew.co.uk">hires@warwicktechcrew.co.uk</a></p>
					<p>Our equipment available includes a basic PA, outboard racks, mixing desks, wired and wireless
						microphones, lighting, associated cables and consumables. Please contact us with details
						about your event for more information.</p>
				</div>
				<!--
					<div class="row">
						<div class="col-lg-6">
							<div class="panel-group">
								<div class="panel panel-tc">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
										Hires
										</h4>
									</div>
									
									<div class="panel-body">
										
										</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="panel-group" >
								<div class="panel panel-tc">
									<div class="panel-heading" role="tab">
										<h4 class="panel-title">
										Hires
										</h4>
									</div>
									
									<div class="panel-body">
										
										</div>
								</div>
							</div>
						</div>
					</div>	-->
			</div>
		</div>
	</section>

	<div class="bg-fixed" id="im-5">
		<div class="attribution">
			<p>Hay Fever, WUDS, 2015. Photo &copy; <a href="http://www.darklingimages.com">Darkling Images</a> /
				Ashmore Visuals</p>
		</div>
	</div>

	<section id="join" class="row">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Join Us</h2>
					<p>
						To join our society please purchase membership from the Warwick SU website <a
							href="https://www.warwicksu.com/societies-sports/societies/techcrew/">here</a>.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Contact Us -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="label">Contact Us</h4>
				</div>
				<form action="https://formspree.io/exec@warwicktechcrew.co.uk" method="POST">
					<div class="modal-body">
						<p>
							If you need to contact us please use the form below or email us at <a
								href="mailto:exec@warwicktechcrew.co.uk">exec@warwicktechcrew.co.uk</a>
						</p>
						<hr />
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="text" class="form-control" id="name" name="name">
						</div>
						<div class="form-group">
							<label for="name">Email Address:</label>
							<input type="email" class="form-control" id="_replyto" name="_replyto">
						</div>
						<div class="form-group">
							<label for="name">Subject:</label>
							<input type="text" class="form-control" id="_subject" name="_subject">
						</div>
						<div class="form-group">
							<label for="name">Message:</label>
							<textarea class="form-control" rows="5" id="message" name="message"></textarea>
						</div>
						<input type="text" name="_gotcha" style="display:none" />
						<!--<input type="hidden" name="_next" value="http://warwicktechcrew.co.uk" />-->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<input type="submit" class="btn btn-primary" value="Send">
					</div>
				</form>
			</div>
		</div>
	</div>
</main>